/**************************************TAG SELECTORS*****************************************************************/
body {
  background-color: #FDEBED;
}

hr {
  background-color: #FDEBED;
  border-style: none;
  border-top: 5px dotted;
  border-color: grey;
  width: 30%;
  size: 20px;
}

h1 {
color: #1e8484;
}

h3 {
color: #66bfbf;
}

a:hover {
  color: yellow;
}

/**************************************CLASS SELECTORS*****************************************************************/
/*
.table1 {
  color: red;
}

.table2 {
  color: green;
}

.table3 {
  color: blue;
}

.table4 {
  color: yellow;
}

.table5 {
  color: purple;
}
*/

.roundcorner {
  border-radius: 20%;
}

/**************************************ID SELECTORS*****************************************************************/